# Falkon-OS Staging & Build Output Directories
build/
out/
isodir/

# Binaries, Objects, Libraries
*.o
*.obj
*.exe
*.bin
*.iso
*.dll.a

# Compiler & Linker temporary files
*.d
*.elf
*.map
compile_commands.json
.ninja_*
.ninja_log
.cmake/

# Python Cache & Logs
__pycache__/
*.pyc
*.pyo
*.log

# IDE & Editor files
.vscode/
.idea/
*.swp
*~

# VirtualBox & Emulator Machine Artifacts
*.vbox
*.vbox-prev
*.vmdk
*.vdi
Logs/
VBox.log

musl-1.2.6
bash